
/* TODO: Use padding property to set the padding area on all four sides of the page. 
  Try using percentages to have a responsive design when the screen size changes.  */

body {
  padding: 2%;
}

/* TODO: Please take a look at this page: https://css-tricks.com/snippets/css/a-guide-to-flexbox/. 
  Then try to find appropriate values for the following properties. Make sure you try other values 
  as explained on the README page of this week. */
.container-flex {
  display: inline-flex;
  margin: 1em;
  gap: 1em; 
  flex-flow: wrap;
  align-items: stretch;
  justify-content: center;
}

/* TODO: Please take a look at this page: https://css-tricks.com/snippets/css/a-guide-to-flexbox/. 
  Then try to find appropriate values for the following properties. Make sure you try other values 
  as explained on the README page of this week. */
.container-flex .flex-item {
  border: 1px solid grey;
  flex-basis: 0;
}

/* TODO: Have you noticed that the text is too close to the right of each flex-item box? 
  Find a property that can make some spaces there. */
.item-description ul li {
  padding: 5%;
}


/* Table related css rules. Look at the screenshots and try to build the same style. */
.item-tables {
  border: 0.125em solid black;
}

.item-tables tr th {
  border-bottom: 0.25em solid black;
}

.item-tables tr td {
  border: 0.125em solid blue;
}

/* TODO:  Look at the table's cells carefully, especially the spaces around the texts within each cell. Write appropriate rules that provide some spaces around the text of each cell. */
.item-tables p {
  padding: 0.125em;
  margin: 0;
}